<div class="container">
  <div class="row mt-5">
    <div class="col">
      <h1>New doc</h1>
      <%= render 'form', doc: @doc %>
      <%= link_to 'Back', docs_path, class: 'btn btn-secondary' %>
    </div>
  </div>
</div>