<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <p>This site is powered by</p>
      <%= image_tag "lava.png", class: "w-50 img-thumbnail" %>
      <h1>Lavadown</h1>
      <p>Self-hosted markdown docs, password protected.</p>

      <p>Written by <a href="https://saaliklok.com">Saalik Lokhandwala</a>.</p>
      <p>Images generated with the help of Obsidian.</p>
      <p>Built with Ruby on Rails.</p>
    </div>
  </div>
</div>
